/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

#logo {
  height: 100px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
  /* Add more styling properties as needed */

}


@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: wrap;
  margin:10px;
  text-align: center;
  padding:10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.logo{
  margin:10px;
  height: 70px;
  width: 70px;
}

.scrollmenu{
  padding:10px;
}

.offcanvas-button {
  background-color: black;
  border-color: black;
}

.navbar-toggler-icon {
  background-color: black;
}

.offcanvas {
  font-size: 50px;
  margin: 10px;
  padding-top: 5px;
}

.offcanvas h2 {
  font-size: 20px;
  margin: 10px;
  color: white;
}

.offcanvas input {
  font-size: 20px;
}

/* Add this CSS in your global CSS file or within your component */
.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu a {
  display: inline-block;
  padding: 14px;
  text-decoration: none;
  color: white;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .scrollmenu {
    flex-wrap: wrap;
    justify-content: center;
  }

  .scrollmenu a {
    flex: 0 0 auto;
    margin: 2.5px;
  }
}
