.containerr {
    display: flex;
    /* Align chatbot to the right */
        height: auto;
        max-height: auto;
        width: auto;
        margin-top: 50px;
        margin-left: 800px;
        margin-right: 100px;
  }
  
  .otherss {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
    padding: 20px;
    width: auto; /* Adjust as needed *//* Limit maximum width for better readability */
  }
  
  .response-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    max-height: auto;
    overflow-y: auto;
  }
  
  .response {
    white-space: pre-wrap;
  }
  
  form > label {
    padding: 1px;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .containerr {
      margin-left: 20px; /* Adjust left margin for better alignment */
      margin-right: 20px; /* Adjust right margin for better alignment */
    }
  }
  
  
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
  }
  
  .icon-link {
    display: inline-flex;
    align-items: center;
  }
  .icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
  }
  .icon-link:hover > .bi {
    transform: translate(.25rem);
  }
  
  .icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
  }
  
  .rounded-4 { border-radius: .5rem; }
  .rounded-5 { border-radius: 1rem; }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  